<template>
    <b-list-group>
        <b-list-group-item
                v-for="(quoteHistory,index) in quotesHistory"
                :key="index"
        >
            <p>время свечи: {{quoteHistory.timestamp | moment("Do MMMM YYYY, h:mm:ss a")}}</p>
            <p>цена открытия: {{quoteHistory.open}}</p>
            <p>макс цена свечи: {{quoteHistory.high}}</p>
            <p>мин цена свечи: {{quoteHistory.low}}</p>
            <p>цена закр свечи: {{quoteHistory.close}}</p>
            <p>объем сделок: {{quoteHistory.grossValue}}</p>
        </b-list-group-item>
    </b-list-group>
</template>

<script>
    export default {
        name: "CurrencyPairQuotes",
        props: {
            quotesHistory: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

    .list-group {
        max-height: 345px;
        overflow: auto;
    }

    p {
        margin-bottom: 0;
    }
</style>
