<template>
    <div class="table-wrap">
        <table class="table">
            <thead>
            <tr>
                <th>Дата создания</th>
                <th>Валютная пара</th>
                <th>Тип (buy|sell)</th>
                <th>Цена создания</th>
                <th>Объем</th>
                <th>Состояние</th>
                <th>Id ордера</th>
            </tr>
            </thead>
            <tbody v-for="(orderHistory) in ordersHistory" :key="orderHistory.orderID">
            <tr>
                <td>{{orderHistory.timestamp}}</td>
                <td>{{orderHistory.symbol}}</td>
                <td>{{orderHistory.side}}</td>
                <td>{{orderHistory.price}}</td>
                <td>{{orderHistory.orderQty}}</td>
                <td>{{orderHistory.ordStatus}}</td>
                <td>{{orderHistory.orderID}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
    export default {
        name: "OrdersHistory",
        props: {
            ordersHistory: {
                type: Array,
                required: true
            }
        }
    }
</script>

<style scoped>

    .table-wrap {
        max-height: 276px;
        overflow: auto;
    }

    th {
        font-size: 15px;
    }

    th:first-child, th:last-child {
        text-align: center;
    }
</style>
