<template>
    <div>
        <h5>Pair: {{currencyPairsSymbol}}</h5>
        <b-form method="post" @submit.prevent="postNow">
            <b-form-group id="input-group-2">
                <b-form-input
                        placeholder="Volume"
                        v-model="volume"
                ></b-form-input>
            </b-form-group>

            <b-button
                    :disabled="disabledBtn"
                    type="submit"
                    variant="primary"
                    @click="onClickBuy">Buy
            </b-button>
            <b-button
                    :disabled="disabledBtn"
                    class="sell-btn"
                    type="submit" variant="danger"
                    @click="onClickSell">Sell
            </b-button>
        </b-form>
    </div>
</template>

<script>
    export default {
        name: "OrdersForm",
        props: {
            currencyPairsSymbol: String,
            currencyPairsPrice: Number
        },
        data: () => ({
            volume: '',
            side: '',
            disabled: false
        }),
        computed: {
            disabledBtn() {
                return this.volume.length === 0 || this.currencyPairsSymbol.length === 0
            }
        },
        methods: {
            postNow(event) {
                this.axios.post('/order', {
                    symbol: this.currencyPairsSymbol,
                    orderQty: this.volume,
                    price: this.currencyPairsPrice,
                    side: this.side
                })
                    .then(response => this.$emit('getOrderResponse', response))
                event.target.reset();
            },
            onClickBuy() {
                this.side = 'Buy'
            },
            onClickSell() {
                this.side = 'Sell'
            }
        }
    }
</script>

<style scoped>
    .sell-btn {
        position: absolute;
        right: 15px;
    }
</style>
