<template>
    <b-list-group>
        <b-list-group-item>
            <div class="d-flex justify-content-between">
                <div class="list-header">
                    Pair
                </div>
                <div class="list-header">
                    Price
                </div>
            </div>
        </b-list-group-item>
        <b-list-group-item
                class="cursor-pointer"
                v-for="(currencyPair) in currencyPairs"
                :key="currencyPair.id"
                @click="onclickItem(currencyPair)"
        >
            <div class="d-flex justify-content-between">
                <div>
                    {{currencyPair.symbol}}
                </div>
                <div>
                    {{currencyPair.lastPrice}}
                </div>
            </div>
        </b-list-group-item>
    </b-list-group>
</template>

<script>
    export default {
        name: "CurrencyPairsList",
        props:  {
            currencyPairs: {
                type: Array,
                required: true
            },
        },
        methods: {
            onclickItem(currencyPair) {
                this.$emit('onclickItem', currencyPair)
            }
        }
    }
</script>

<style scoped>

    .list-header {
        font-weight: 700;
        font-size: 16px;
    }
    .list-group {
        max-height: 345px;
        overflow: auto;
    }
    .cursor-pointer {
        cursor: pointer;
    }
</style>
