<template>
    <div id="app">
        <div class="container">
            <div class="row mt-5 mb-4">
                <div class="col-4">
                    <currency-pairs-list
                            :currencyPairs="currencyPairs"
                            @onclickItem="onclickItem"
                    />
                </div>
                <div class="col-4">
                    <currency-pair-quotes :quotesHistory="quotesHistory"/>
                </div>
                <div class="col-4">
                    <orders-form
                            :currencyPairsSymbol="currencyPairsSymbol"
                            :currencyPairsPrice="currencyPairsPrice"
                            @getOrderResponse="getOrderResponse"
                    />
                </div>
            </div>
            <orders-history :ordersHistory="ordersHistory"/>
        </div>
    </div>
</template>

<script>
    import CurrencyPairsList from "./components/СurrencyPairsList";
    import CurrencyPairQuotes from "./components/CurrencyPairQuotes";
    import OrdersForm from "./components/OrdersForm";
    import OrdersHistory from "./components/OrdersHistory";

    export default {
        name: 'App',
        components: {OrdersHistory, OrdersForm, CurrencyPairQuotes, CurrencyPairsList},
        data: () => ({
            currencyPairs: [],
            quotesHistory: [],
            ordersHistory: [],
            currencyPairsSymbol: '',
            currencyPairsPrice: 0,
            ws: null
        }),
        beforeMount() {
            this.getCurrencyPairs()
            this.getOrdersHistory()
        },
        created: function () {

            this.ws = new WebSocket('wss://testnet.bitmex.com/realtime');

            this.ws.onopen = () => this.ws.send(`{"op": "subscribe", "args": "instrument"}`);

            this.ws.onclose = (eventclose) => {
                console.log('соеденение закрыто причина: ' + eventclose)
            }
            // this.ws.onmessage = (msg) => {
            //
            //     console.log(JSON.parse(msg.data).data)
            // }
        },
        methods: {
            getCurrencyPairs() {
                this.axios.get('/instrument/active')
                    .then(({data}) => {
                        this.currencyPairs = data
                    })
            },
            getTradeBucketed() {
                this.axios.get('/trade/bucketed', {
                    params: {symbol: this.currencyPairsSymbol}
                })
                    .then(({data}) => {
                        this.quotesHistory = data
                    })
            },
            getOrdersHistory() {
                this.axios.get('/orders')
                    .then(({data}) => this.ordersHistory = data)
            }
            ,
            onclickItem(currencyPairs) {
                this.currencyPairsSymbol = currencyPairs.symbol
                this.currencyPairsPrice = currencyPairs.lastPrice

                this.getTradeBucketed()
            }
            ,
            getOrderResponse(response) {
                this.ordersHistory.unshift(response.data)
            }
        }
    }
</script>
